<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>qrcode</title>
</head>
<body style="background-color: #fbfbfb">
<div style="margin: auto 100px;text-align: center">
    <img src="data:image/gif;base64,{{ sale_order.weixinpay_qrcode  }}">

    <div>
        请用微信app扫描二维码进行支付
    </div>
    <div id="paystate" style="font-size: 1.1em;display: none">
        <a href="{{redirect_url}}">支付成功,正在跳转.....</a>
    </div>
</div>
<script>
    function checkstate(name) {
        var xhr = new XMLHttpRequest();
        var data = new FormData();
        data.append('name', name);
        xhr.open('post', '/c/8/weixinpay/checkstate', false);
        xhr.send(data);
        var response = xhr.responseText;
        if (response == 'True') {
            document.getElementById('paystate').style.display='block';
            window.location = '{{redirect_url}}'
        }
    }
    window.setInterval(function () {
        checkstate('{{ sale_order.name }}')
    }, 3000);
</script>
</body>
</html>